{
    "nuclear_reactor": (
        consumption: {
            "uranium": 10,
            "water": 1
        },

        production: {
            "electricity": 15
        },

        jobs: {
            "machinist": 1000,
            "scientist": 500,
        },
    ),

    "barrack": (
        consumption: {
            "military_equipment": 10
        },

        jobs: {
            "serviceman": (
                amount: 1000,
                learned_skills: ["strategist"]
            ),
            "officer": 500
        }
    ),

    "recruitment_center": (
        consumption: {
            "paper": 10,
            "military_equipment": 5
        },

        jobs: {
            "clerk": 250,
            "bureocrat": 1000
        },

        learned_skills: Some(["trooper"])
    ),
    
    "stem_university": (        
        consumption: {
            "paper": 10,
            "computers": 3
        },

        jobs: {
            "academic": 750,
            "scientist": 750
        },

        learned_skills: Some(["engineer", "mathematitian"])
    ),

    "arts_academy": (
        consumption: {
            "paper": 15,
            "textiles": 10,
        },

        jobs: {
            "academic": 750,
            "designer": 750
        },
        
        learned_skills: Some(["artist"])
    )
}