{
    "water": (),
    "food": (),
    "uranium": (),
    "coal": (),
    "electricity": (),
    "military_equipment": (),
    "textiles": (),
    "micropchips": (),
    "phones": (),
    "computers": ()
}